{% extends 'myapp/base.html' %}

{% block title %}AdminLTE - ShowData{% endblock %}
{% load static %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<style>
    #loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure it appears on top */
}
</style>

<!-- In your base template or the specific template -->
<div id="loading" style="display:none;">
    <img src="{% static 'adminlte/img/loading.gif' %}" alt="Loading..." />
</div>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Datatable with default features</h3>
                    </div>
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<script>
    $(document).ready(function () {
        $("#example2").DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: '{% url "accountdetails" %}',
                type: 'GET'
            },
            columns: [
                { data: 0 },  // Adjust these indices based on the order of your SELECT statement
                { data: 1 },
                { data: 2 },
                { data: 3 },
            ]
        });
    });

</script>
{% endblock %}