{% extends 'myapp/base.html' %}

{% block title %}AdminLTE - Error{% endblock %}
{% load static %}
{% block content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">An Error Occurred</h3>
                    </div>
                    <div class="card-body">
                        <p>{{ error }}</p>
                        <a href="{% url 'dashboard' %}">Go Back</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}